.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container{
    width: 25rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    box-shadow: var(--primary-box-shadow);
}

.image_wrapper{
    width: 100%;
    max-height: 10rem;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;
    overflow-y: scroll;
}

