.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.search{
    width: min(100%,40rem);
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    box-shadow: var(--primary-box-shadow);
}

.bar{
    background-color: transparent;
    padding: 0.3rem;
    width: 90%;
    height: 100%;
    border: none;
}

.bar:focus{
    outline: none;
}

.btn{   
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}