.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.svg{
    padding: 1rem;
    color: var(--primary-color);
    animation: spin 0.6s linear infinite;
    font-size: 20px;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}